{% extends 'base.html' %}

{% block content %}

<br/>

{% if zipcode %}
	{{ zipcode }}
{% endif %}
{% if api %}
	{% if api == "Error..."%}
		There was an error. Please try again.
	{% else %}
		{{ api1 }}

		

		<div class="jumbotron good">
	  		<h1 class="display-4">{{ api.DailyForecasts.0.Day.IconPhrase}}<br/></h1>
	  		<p class="lead"> {{api.DailyForecasts.0.Day.PrecipitationIntensity}} {{ api.DailyForecasts.0.Day.PrecipitationType}}</p>
	  		<hr class="my-4">
	 		 <p>Temperature:<br/>
		Maximum: {{ api.DailyForecasts.0.Temperature.Maximum.Value}}{{api.DailyForecasts.0.Temperature.Maximum.Unit}}<br/>
		Minimum: {{ api.DailyForecasts.0.Temperature.Minimum.Value}}{{api.DailyForecasts.0.Temperature.Minimum.Unit}}<br/>
		</p>
	  		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
		
		
		
	{% endif %}

{% endif %}


{% endblock %}

